---
- name: Install and Configure Docker
  hosts: docker_hosts
  become: true
  gather_facts: true

  roles:
    - role: docker
      vars:
        docker_users:
          - "{{ ansible_user }}"
    - role: docker-compose
